.location-list {
  width: 450px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(100,100,100,0.2);

  .items {
    overflow: scroll;

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style: none;

        &:not(:first-child) {
          border-top: 1px solid #F4A90B;
        }

        .location-list__item {
          padding: 0 0 6px 0;

          p.id {
            background: #d1d1d169;
            color: #6b6c6d;
            font-size: 20px;
            font-weight: 600;
            padding: 7px 24px;
          }

          .details {
            padding: 0 24px;
          }
        }
      }
    }
  }
}

//Vars
:root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #F1C517;
  --font-fam: 'Lato', sans-serif;
  --height: 5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}
// Main styles
.input-wrapper {
  position: relative;
  background: var(--color-brand);
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);
}

input, button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.8rem;
}

input[type="search"] {
  outline: 0; // <-- shold probably remove this for better accessibility, adding for demo aesthetics for now.
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

button {
  display: none; // prevent being able to tab to it
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
}

input:not(:placeholder-shown) {
  width: calc(100% - var(--btn-width));

  + button {
    display: block;
  }
}

label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
