.map {
  height: calc(100vh - 100px);
  width: 100vw;
}

.map-marker {
  background: url(../images/map-marker-icon.svg) no-repeat 0 0;
  background-size: 38px 38px;
  background-position: 5px -7px;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 6px 6px 6px 20px;
  border-radius: 4px;
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  top: -29px;
  left: -37px;
  font-size: 12px;
  font-weight: 600;
  color: #707070;

  &:after {
    content: " ";
    position: absolute;
    right: 19px;
    bottom: -15px;
    border-top: 15px solid white;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: none;
  }
}
