header {
  height: 100px; // TODO: Make variable for reuse in map and location list
  border-bottom: 3px solid #F4A90B;
  display: flex;

  .wrapper {
    display: flex;

    img.logo {
      margin-left: 65px;
    }
  }
}
